.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #F5F5F5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.logo {
    font-size: 18px;
    font-weight: bold;
  }
  
.headerButtons {
    display: flex;
    gap: 10px;
  }
  
.headerButton {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
  }