.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    background-color: #f5f5f5;
  }
  
  .mainText {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .startButton {
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #eef8ee;
    cursor: pointer;
    font-size: 16px;
  }
  
  .indicatorContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #000;
  }
  
  .indicatorInactive {
    background-color: #ddd;
  }