.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 94vh;
  background-color: #F5F5F5;
}

.chatBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 99.5%;
  height: 93vh;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #F5F5F5;
}

.chatHeader {
  background-color: #F5F5F5;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-radius: 10px 10px 0 0;
  font-size: 1.2rem;
  text-align: center;
}

.chatContent {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.chatFooter {
  display: flex;
  padding: 20px;
  border-top: 1px solid #ccc;
}

.chatInput {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 40px;
}

.chatButton {
  padding: 10px 30px;
  background-color: #cae1c2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.chatButton:hover {
  background-color: #0056b3;
}

.messageBubble {
  max-width: 49%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 15px;
  word-wrap: break-word;
}

.leftBubble {
  background-color: #007bff;
  color: white;
  align-self: flex-start;
  margin-left: 80px;
}

.rightBubble {
  background-color: #e0e0e0;
  color: black;
  align-self: flex-end;
  margin-right: 80px;
  margin-left: auto;
  text-align: right;
}